[Desktop Entry]
Version=1.0
Name=KNIME
GenericName=KNIME
Comment=KNIME
Exec=/opt/knime/knime
StartupNotify=true
Terminal=false
Icon=/opt/knime/icon.xpm
Type=Application
Categories=Tools;
